h1 {
  text-align: center;
}
.bioText {
  margin: 35px;
}
.imageSize {
  width: 250px;
 
}
.imgDiv{
margin: auto;
width: 50%;
padding: 10px;
}

.img-fluid {
  max-width: 101% !important;
  height: 250px !important;
}
